# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# PostgreSQL data (if accidentally created locally)
postgres_data/

# Zip and data files
*.zip
/data/
